extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/style2.css

block content
    h1 About Us
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum nam voluptates consequuntur, ipsa provident consequatur, ab odit magni numquam aspernatur est. Eveniet consequatur commodi a praesentium facere at, fugiat quae optio voluptate.lorem78 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis accusamus officiis quis, ipsa incidunt voluptatum. Vitae ea autem repellat, velit unde itaque quae totam illum enim aperiam labore. Numquam architecto porro laboriosam.