doctype html
html
  head
    title pranav
    block scripts
    block style
      
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/images/logo.png")
            li #[a(href="/") Home]
            li #[a(href="/aboutus") Aboutus]
            li #[a(href="/services") services]
            li #[a(href="/contact") contactus]
    block content
    footer#footer
        | Copyright © 2020 PranavsMartialartacademy.com
        div#logo1
                img(src="/static/images/logo.png")  